[Unit]
Description=Ask-terminal Server
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/env ask-terminal-server
# Environment=PATH=$PATH

[Install]
WantedBy=multi-user.target
