[Unit]
Description=Chat Terminal Server
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/env chat-terminal-server
# Environment=PATH=$PATH

[Install]
WantedBy=multi-user.target
